$font-family-garamond: "EB Garamond", sans-serif;
$font-family-montserrat: "Montserrat", sans-serif;
$font-family-roboto: "Roboto", sans-serif;

$font-family: (
  primary: $font-family-montserrat,
  secondary: $font-family-garamond,
  complementary: $font-family-roboto
);

$font-small:2em;
$font-medium:2.5rem;
$font-large:3.6rem;
$font-x-large:6rem;
