.wrapper {
  width: 85%;
  margin: auto;
  @media (max-width: $responsive-mobile-max) {
    width: 95%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  &__nav {
    margin-top: 60px;
    @media (max-width: $responsive-mobile-max) {
      margin-top: 40px;
      font-size: 1.8rem;
    }
    @media (max-width: $responsive-mobile-min) {
      font-size: 1.4rem;
    }
  }
  @media (max-width: $responsive-mobile-min) {
    flex-direction: column;
  }
}

.hero {
  font-family: $font-family-garamond;
  background-image: url("../images/banner.png");
  background-size: cover;
  background-position: floor($number: 0);
  color: #fff;
  padding: 0 10%;
  &__welcome {
    margin-top: 190px;
    width: 70%;
    @media (max-width: $responsive-mobile-max) {
      margin-top: 50px;
    }
    @media (max-width: $responsive-mobile-min) {
      margin-top: 25px;
    }
  }
  &__span {
    font-size: 5rem;
    @media (max-width: $responsive-mobile-max) {
      font-size: 3rem;
    }
  }
  &__h1 {
    font-size: 15.4rem;
    @media (max-width: $responsive-mobile-max) {
      font-size: 6rem;
    }
  }
  &__h2 {
    font-size: 6rem;
    @media (max-width: $responsive-mobile-max) {
      font-size: 4.5rem;
    }
  }
  &__p {
    font-size: $font-small;
    width: 35%;
    display: block;
    @media (max-width: $responsive-mobile-max) {
      font-size: 2rem;
      width: 65%;
    }
  }
  button {
    background-color: $color-primary;
    color: #fff;
    font-family: $font-family-montserrat;
    font-size: $font-medium;
    text-transform: uppercase;
    padding: 22px 36px;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  &__scroll {
    text-align: center;
    padding-bottom: 20px;
    p {
      font-family: $font-family-montserrat;
      font-size: $font-medium;
    }
    i {
      font-size: $font-x-large;
    }
  }
  &__book {
    display: flex;
    align-content: center;
    padding: 80px 0;
  }
  @media (max-width: $responsive-mobile-max) {
    background-position: center;
  }
}


/* FACILITIES */

//alan etchebarne facilitys

.parrafo{
  color:$color-secondary;
}

.mainf h2, 
.mainf h3,
.mainf h4{
  color:$color-secondary;
}
.h2-title{
  font-family: 'EB Garamond';
  font-size: 60px;
  font-weight: 700;
}
//texto dentro de la imagen
.mainf h3{
  font-size: 48px;
  font-weight: 700;
}
//texto parte final
.mainf h4{
  font-size: 30px;
  font-weight: 400;
}
//texto parte final
.mainf h5{
  font-size: 25px;
  font-weight: 400;
}
//parte que contien imagen y div de texto se repide en varias paginas
.row {
  width: 100%;
  position: relative;
  margin-bottom: 186px;
  &:last-child {
    margin-bottom: 110px;
  }
  &-figure {
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

//parte final de a pagina... lema y navegacion que se repite
.final{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.mainf {
  padding: 40px 170px 110px 170px;
  width: 1480px;
  text-align: center;

  &-parrafo {
    max-width: 100%;
    margin-bottom: 80px;
    color: $color-secondary;
  }

  .mainf h2 {
    margin-bottom: 20px;
  }

  .mainf h2,
  .mainf h3,
  .mainf h4 {
    color: $color-secondary;
  }
}


.-item {
  width: 40%;
  position: absolute;
  left: 30%;
  bottom: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  h3 {
    padding-top: 30px;
  }
}
