.wrapper {
  width: 85%;
  margin: auto;
  @media (max-width: $responsive-mobile-max) {
    width: 95%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  &__nav {
    margin-top: 60px;
    @media (max-width: $responsive-mobile-max) {
      margin-top: 40px;
      font-size: 1.8rem;
    }
    @media (max-width: $responsive-mobile-min) {
      font-size: 1.4rem;
    }
  }
  @media (max-width: $responsive-mobile-min) {
    flex-direction: column;
  }
}



